<?xml version="1.0" encoding="UTF-8"?>
<netcdf xmlns="http://www.unidata.ucar.edu/namespaces/netcdf/ncml-2.2">
  <attribute name="size" type="int" value="{{ df[df["attr"] == "size"]["attr_value"].sum()|int }}" />
  <attribute name="size_human" value="{{ df[df["attr"] == "size"]["attr_value"].sum()|int|filesizeformat(binary=True) }}" />
  <aggregation type="union">
    {% for variable,variable_group in df[df["facet"] == variable_facet].sort_values(["facet_value", "filename"]).groupby("facet_value") %}
    <netcdf>
        <aggregation type="joinExisting" dimName="time_{{ variable }}">
            {% set time_reference_attrs = df|attrs(variable_group["filename"].dropna().iloc[0], "time") %}
            {% for rowindex,rowdata in variable_group.iterrows() %}
            <netcdf location="{{ rowdata["filename"] }}" ncoords="{{ df|dimsize(rowdata["filename"], "time")|int }}">
                {% set variable_attrs = df|attrs(rowdata["filename"], variable) %}
                {% set time_attrs = df|attrs(rowdata["filename"], "time") %}
                <dimension name="time_{{ variable }}" orgName="time" isUnlimited="false"/>
                <variable name="time_{{ variable }}" orgName="time">
                    <attribute name="units" value="{{ time_attrs["units"] }}"/>
                    <attribute name="calendar" value="{{ time_attrs["calendar"] }}"/>
                    {% if time_attrs["units"] != time_reference_attrs["units"] %}
                    <values>{{ time_attrs["__values__"]|timeunitschange(time_attrs["units"], time_attrs["calendar"], time_reference_attrs["units"], time_reference_attrs["calendar"])|join(' ') }}</values>
                    {% endif %}
                </variable>
                {% if "coordinates" in variable_attrs and "height" in variable_attrs["coordinates"] %}
                <!-- height is variable dependent -->
                <variable name="height_{{ variable }}" orgName="height"/>
                {% endif %}
                <variable name="{{ variable }}">
                    {% if "coordinates" in variable_attrs and "height" in variable_attrs["coordinates"] %}
                    <attribute name="coordinates" value="{{ variable_attrs["coordinates"]|replace("height", "height_" + variable) }}" />
                    {% endif %}
                </variable>
            </netcdf>
            {% endfor %}
        </aggregation>
    </netcdf>
    {% endfor %}
  </aggregation>
</netcdf>