<?xml version="1.0" encoding="UTF-8"?>
<netcdf xmlns="http://www.unidata.ucar.edu/namespaces/netcdf/ncml-2.2">
  <aggregation type="union">
    {% for variable,variable_group in df.groupby(('GLOBALS', variable_col)) %}
    <netcdf>
    <aggregation type="joinExisting" dimName="time" timeUnitsChange="true">
        {% for file in variable_group[('GLOBALS', 'localpath')]|sort %}
        <netcdf location="{{ file.rstrip('\n') }}"/>
        {% endfor %}
    </aggregation>
    </netcdf>
    {% endfor %}
  </aggregation>
</netcdf>
