<?xml version="1.0" encoding="UTF-8"?>
<catalog name="{{ name }}"
		xmlns="http://www.unidata.ucar.edu/namespaces/thredds/InvCatalog/v1.0"
		xmlns:xlink="http://www.w3.org/1999/xlink">

  <datasetRoot path="CORDEX" location="/oceano/gmeteo/DATA/ESGF/REPLICA/DATA/cordex/synda/data/cordex/" />
  {% for catalog in catalogs %}
  <catalogRef xlink:title="{{ catalog.title }}" xlink:href="{{ catalog.href }}" name="">
    <dataSize units="bytes">{{ catalog.size }}</dataSize>
    <date type="modified">{{ catalog.last_modified }}</date>
  </catalogRef>
  {% endfor %}
</catalog>
