<?xml version="1.0" encoding="UTF-8"?>
<catalog name="{{ name }}"
		xmlns="http://www.unidata.ucar.edu/namespaces/thredds/InvCatalog/v1.0"
		xmlns:xlink="http://www.w3.org/1999/xlink">

  <service name="all" serviceType="Compound" base="">
    <service base="/thredds/dodsC/" name="odap" serviceType="OpenDAP"/>
    <service base="/thredds/dap4/" name="dap4" serviceType="DAP4" />
    <service base="/thredds/fileServer/" name="http" serviceType="HTTPServer" />
    <service base="/thredds/wcs/" name="wcs" serviceType="WCS" />
    <service base="/thredds/wms/" name="wms" serviceType="WMS" />
    <service base="/thredds/ncss/grid/" name="ncssGrid" serviceType="NetcdfSubset" />
    <service base="/thredds/ncss/point/" name="ncssPoint" serviceType="NetcdfSubset" />
    <service base="/thredds/cdmremote/" name="cdmremote" serviceType="CdmRemote" />
    <service base="/thredds/cdmrfeature/grid/" name="cdmrFeature" serviceType="CdmrFeature" />
    <service base="/thredds/iso/" name="iso" serviceType="ISO" />
    <service base="/thredds/ncml/" name="ncml" serviceType="NCML" />
    <service base="/thredds/uddc/" name="uddc" serviceType="UDDC" />
  </service>

  <service name="virtual" serviceType="Compound" base="">
    <service base="/thredds/dodsC/" name="odap" serviceType="OpenDAP"/>
    <service base="/thredds/dap4/" name="dap4" serviceType="DAP4" />
    <service base="/thredds/wcs/" name="wcs" serviceType="WCS" />
    <service base="/thredds/wms/" name="wms" serviceType="WMS" />
    <service base="/thredds/ncss/grid/" name="ncssGrid" serviceType="NetcdfSubset" />
    <service base="/thredds/ncss/point/" name="ncssPoint" serviceType="NetcdfSubset" />
    <service base="/thredds/cdmremote/" name="cdmremote" serviceType="CdmRemote" />
    <service base="/thredds/cdmrfeature/grid/" name="cdmrFeature" serviceType="CdmrFeature" />
    <service base="/thredds/iso/" name="iso" serviceType="ISO" />
    <service base="/thredds/ncml/" name="ncml" serviceType="NCML" />
    <service base="/thredds/uddc/" name="uddc" serviceType="UDDC" />
  </service>
  {% set ncml_prefix="/home/zequi/tds-content/public/cordex-esdm/" %}
  {% set nc_prefix="/oceano/gmeteo/WORK/bmedina/CORDEX-ESDM/" %}
  {% for dataset in datasets|select("isncml") %}
  <dataset name="{{ dataset.name }}"
           ID="cordex-esdm/aggregated/{{ dataset.file|replace(ncml_prefix, '') }}"
           urlPath="cordex-esdm/aggregated/{{ dataset.file|replace(ncml_prefix, '') }}">
    <metadata inherited="true">
      <serviceName>{{ dataset.service }}</serviceName>
      <dataSize units="bytes">{{ dataset.size }}</dataSize>
      <date type="modified">{{ dataset.last_modified }}</date>
    </metadata>
  </dataset>
  {% endfor %}
  <dataset name="{{ (datasets|select('isncml')|first).name }} files" ID="{{ name }}/files">
    {% for dataset in datasets|select("isnc")|sort(attribute="name") %}
    <dataset name="{{ dataset.name }}"
             ID="cordex-esdm/files/{{ dataset.file|replace(nc_prefix, '') }}"
             urlPath="cordex-esdm/files/{{ dataset.file|replace(nc_prefix, '') }}">
      <metadata inherited="true">
        <serviceName>{{ dataset.service }}</serviceName>
        <dataSize units="bytes">{{ dataset.size }}</dataSize>
        <date type="modified">{{ dataset.last_modified }}</date>
      </metadata>
    </dataset>
    {% endfor %}
  </dataset>
</catalog>
